*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f3f3f3;
}


.logo{
  font-family: 'Caveat', cursive;
}

ul li{
  text-decoration: none;
  color: #333;
  list-style: none;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container{
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

a{
  font-size: 2rem;
  text-decoration: none;
  color: #333;
}

ul{
  display: flex;
  justify-content: center;
  gap: 2rem;
}

li{
  padding-left: 1rem;
}

#main-header{
  border-bottom:2px dotted grey;
}

#main-section{
  height: 70vh;
}

h2{
  font-family: 'Cormorant Garamond', serif;
  /* padding-bottom: 1rem; */
}

p{
  font-family: 'Caveat', cursive;
  padding: 1rem;
  font-size: 1.5rem;
}

.card{
  
  background-color: white;
  margin: auto;
  width: 300px;
  /* height: 80px; */
  border: 1px solid gray;
  border-radius: 15px;
}


span{
  display: none;
}




.sidenav {
  height: 100%; 
  width: 0;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #fff;
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.sidenav a:hover {
  color: #3c3697;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media(max-width: 700px){
  ul{
    display: none;
  }
  span{
    display: block;
  }
}
